// codigo de css y scss de mi header y responsive       \
@use "variables" as v;

header{
    background-color: v.$cian;
    grid-row: 1 / 2;
    .offcanvas, .offcanvas-end, .text-bg-dark{
        background-color: v.$marron !important;
    }
    .titulo-principal{
        height: auto;
        width: auto;
        font-size: 4rem;
        color: v.$marron;
        text-shadow: #3a2523 4px 2px 6px;
    }
    .card{
        height: 10vh;
        width: auto;
        padding: 0;
        display: flex;
        justify-content: start;
        background-color: #7ebdc8;
        border: none;
        }
    .navbar{
        padding: 0;
        margin: 0;
        height: 8vh;
        width: auto;
        .navbar-nav{
            gap: 10px;
            .nav-item{
                width: auto;
            }
            li{
                padding: 10px;
                border: 3px solid v.$rosa;
                border-radius: 5px;
                background-color: v.$background;
                .nav-link.active{
                    color: v.$rosa;
                }
                .nav-link.disabled{
                    color: gray;
                }
                a.nav-link{
                    color: v.$marron;
                    @include v.flex(row, center, center, nowrap);
                }
                
            }
        }
    }
    @include v.mobile{
        height: auto;
        margin-top: 20px;
        
        display: grid;
        grid-template-rows: repeat(3, 30%)
        ;
        
        align-items: center;

        .card{
            grid-row: 1 / 2;
        }
        .titulo-principal{
            font-size: 1.5rem;
            grid-row: 2 / 3;
        }
        .navbar-nav{
            grid-row: 3 / 4;
        }

        .offcanvas-body{
            flex-basis: 100%;
            flex-grow: 1;
        }

    }
}


