// codigo de css y scss de mi header y responsive       \
@use "variables" as v;

header{
    background-color: v.$cian;
    grid-row: 1 / 2;
    .titulo-principal{
        height: auto;
        width: auto;
        font-size: 4rem;
        color: v.$marron;
        text-shadow: #3a2523 4px 2px 6px;
    }
    .card{
        height: 10vh;
        width: auto;
        padding: 0;
        display: flex;
        justify-content: start;
        background-color: #7ebdc8;
        border: none;
        }
    .navbar{
        padding: 0;
        margin: 0;
        height: 8vh;
        width: auto;
        .navbar-nav{
            gap: 10px;
            .nav-item{
                width: auto;
            }
            li{
                padding: 10px;
                border: 3px solid v.$rosa;
                border-radius: 5px;
                background-color: v.$background;
                .nav-link.active{
                    color: v.$rosa;
                }
                .nav-link.disabled{
                    color: gray;
                }
                a.nav-link{
                    color: v.$marron;
                    @include v.flex(row, center, center, nowrap)
                }
                
            }
        }
    }
}