@use "variables" as v;

.main__res{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 20px;
    background-color: v.$background;
    font-family: "Poppins", sans-serif;
    padding: 10px;
    .h2__res, .p__res, label, .h2__info, .p__info{
        color: #623e3b;
    }
    .sec__res{
        grid-column: 1 / 2;
        grid-row: 1 / 2;
        background-color: #a5dfd7;
        border: 3px solid #f3a6b1;
        padding: 20px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .sec__for{
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        display: flex;
        flex-direction: column;
        background-color: #a5dfd7;
        border: 3px solid #f3a6b1;
        padding: 20px;
        border-radius: 15px;
        .for__res{
            display: flex;
            flex-direction: column;
            padding: 40px;
            input:focus, textarea:focus{
                background-color: #f3a6b1;
            }
        }
    }
    .sec__info{
        grid-column: 2 / 3;
        grid-row: 1 / 3;
        background-color: #a5dfd7;
        border: 3px solid #f3a6b1;
        border-radius: 15px;
        padding: 20px;
        gap: 10px;
        .div__info{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-around;
            padding: 20px;
            gap: 5px;
        }
    }
    @include v.mobile{
        display: flex;
        flex-direction: column;
        
        .sec__res{
            font-size: 0.7rem;
            
        }
        .sec__for{
            font-size: 0.7rem;
            padding: 0%;
            .for__res{
                display: flex;
                flex-direction: column;
                
            }
        }
        .sec__info{
            font-size: 0.7rem;
            padding: 0;
            iframe{
                width: 320px;
                height: auto;
                
            }
            .div__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
                
                gap: 5px;
            } 
        }
    }
}