
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* reset de estilos */

*{
    margin: 0;
    padding: 0;
}

 /* * {
    outline: 1px solid red;
    } solo para ver los bordes y solucionar  espacios vacios*/

/* fin de reset */

body{
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

/* inicio header */

.header{
    box-sizing: border-box;
    grid-row: 1 / 2;
    margin: 0;
    padding: 0;

}
.card{
    height: 10vh;
    width: auto;
    padding: 0;
    display: flex;
    justify-content: start;
}

.col-7{
    padding: 0;
    margin: 0;
    height: 8vh;
    width: auto;
}

.navbar-nav{
    gap: 10px;
}

.navbar-nav li{
    padding: 10px;
    border: 2px solid orange;
    border-radius: 5px;
    background-color: coral;

}

a.nav-link{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    
}

.col-3{
    height: auto;
}

/*fin de header*/

/*inicio main-index*/

.main-index{
    grid-row: 2 / 3;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: repeat(3, 33%);
}
.img-in{
    grid-column: 2 / 3;
    grid-row: 1 / 4;
    justify-self: center;
    align-self: center;
    height: 60%;
    width: auto;
}
.h2-in{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
    align-self: center;
    height: auto;
    width: auto;
}
.h3-in{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    justify-self: center;
    align-self: center;
    height: auto;
    width: auto;
}
.h4-in{
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    justify-self: center;
    align-self: center;
    height: auto;
    width: auto;
    text-align: center;
}

/*fin de main-index*/

/* inicio main-menu */

.menu__img{
    height: 64px;
    width: 64px;
}
.main__menu{
    grid-row: 2 / 3;
}

.menu{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto 1fr;
}
.menu__h2{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.menu__p{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}
.menu__items{
    grid-column: 1 / 4;
    grid-row: 3 / 4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    justify-self: space-around;
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.items__cafes, .items__pan, .items__beb{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


/* fin main-menu */

/* inicio main-galeria */

.titulo__gal{
    text-align: center;
    padding: 30px none;
}
.carousel{
    padding: none;
    
    
}
    .img__car{
        height: auto;
    }

/* fin main-galeria */

/*inicio footer*/

.footer{
    grid-row: 3 / 4;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 2rem;
}

.footer .au, .footer .der{

}

.footer .au{
    text-align: center;
}

.redes{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    list-style: none;

}

.logo__ig, .logo__fb, .logo__x{
    height: 50px;
    width: auto;
}


/*fin de footer*/