@import url("https://fonts.googleapis.com/css2?family=Delius&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: #7ebdc8;
  font-family: "Delius";
  font-weight: 800;
  font-style: normal;
}

header {
  background-color: #7ebdc8;
  grid-row: 1/2;
}
header .offcanvas, header .offcanvas-end, header .text-bg-dark {
  background-color: #623e3b !important;
}
header .titulo-principal {
  height: auto;
  width: auto;
  font-size: 4rem;
  color: #623e3b;
  text-shadow: #3a2523 4px 2px 6px;
}
header .card {
  height: 10vh;
  width: auto;
  padding: 0;
  display: flex;
  justify-content: start;
  background-color: #7ebdc8;
  border: none;
}
header .navbar {
  padding: 0;
  margin: 0;
  height: 8vh;
  width: auto;
}
header .navbar .navbar-nav {
  gap: 10px;
}
header .navbar .navbar-nav .nav-item {
  width: auto;
}
header .navbar .navbar-nav li {
  padding: 10px;
  border: 3px solid #f3a6b1;
  border-radius: 5px;
  background-color: #a5dfd7;
}
header .navbar .navbar-nav li .nav-link.active {
  color: #f3a6b1;
}
header .navbar .navbar-nav li .nav-link.disabled {
  color: gray;
}
header .navbar .navbar-nav li a.nav-link {
  color: #623e3b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 320px) and (max-width: 430px) {
  header {
    height: auto;
    margin-top: 20px;
    display: grid;
    grid-template-rows: repeat(3, 30%);
    align-items: center;
  }
  header .card {
    grid-row: 1/2;
  }
  header .titulo-principal {
    font-size: 1.5rem;
    grid-row: 2/3;
  }
  header .navbar-nav {
    grid-row: 3/4;
  }
  header .offcanvas-body {
    flex-basis: 100%;
    flex-grow: 1;
  }
}

.footer {
  grid-row: 3/4;
  padding: 1rem 2rem;
  font-size: 2em;
  color: #623e3b;
  text-shadow: #3a2523 4px 2px 6px;
}
.footer .redes {
  gap: 1rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.footer .au .der {
  color: #623e3b;
  text-align: center;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
}
@media (min-width: 320px) and (max-width: 430px) {
  .footer .der, .footer .au {
    font-size: 1rem;
  }
  .footer .redes .logo__ig,
  .footer .redes .logo__fb,
  .footer .redes .logo__x {
    height: 20px;
    width: auto;
  }
}

.main-index {
  gap: 50px;
  padding: 60px;
  border-color: #7ebdc8;
  height: 80vh;
  font-family: "Poppins", sans-serif;
}
.main-index .img-in {
  width: 786px;
  max-width: 100%;
  height: auto;
  border-radius: 20px;
}
.main-index .text__main {
  font-family: "Delius";
  text-align: left;
  color: #623e3b;
  max-width: 40%;
}
.main-index .text__main .h2-in {
  font-size: 4em;
  color: #5c3d2e;
  margin-bottom: 10px;
}
.main-index .text__main .h3-in {
  font-size: 3em;
  color: #7a5441;
  margin-bottom: 15px;
}
.main-index .text__main .h4-in {
  font-size: 2em;
  color: #9c7a63;
  line-height: 1.5;
}
.main-index .text__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-index {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 320px) and (max-width: 430px) {
  .main-index {
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 6px;
    font-family: "Poppins", sans-serif;
  }
  .main-index .text__main {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-index .text__main .h2-in {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .main-index .text__main .h3-in {
    font-size: 1.5rem;
    margin-bottom: 15px;
  }
  .main-index .text__main .h4-in {
    font-size: 0.6rem;
  }
}

/*# sourceMappingURL=styles.css.map */
