
@import url('https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');

/* reset de estilos */

*{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


/* fin de reset */

.header.header,conteiner-fluid{
    height: 18vh;
    margin: 10px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}
.card{
    height: 10rem;
    width: 10rem;
}

.col-6{
    padding: 0;
    margin: 0;
    height: auto;
}
.col-4{
    height: auto;
}
